[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git
[submodule "content/posts"]
	path = content/posts
	url = git@github.com:peterjuse/peterjuse.github.io.git
